body{
  text-align: center;
}
.title{
  background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
}
h1{
  font-family: Helvetica;
  font-size: 70px;
  font-weight: bold;
  color: white;
}
.title a{
  font-family: Helvetica;
  font-size: 18px;
  color: white;
}
.process h2{
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
}
h3{
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
}
p{
  font-family: Helvetica;
  font-size: 14px;
}
.introduction h2{
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
  color: white;
  background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
}
.footage {
  text-align: left;
  background-color: dimgray
}
.copyright{
  font-family: Helvetica;
  font-size: 11px
  color: white;
}
.link{
  font-family: Helvetica;
  font-size: 18px;
  color: white;
}
